1. The code will run an error as you cannot add two different types. X is a list and y is a string

In [5]:
x= [1,2,3]
y= "Bootcamp"
print(type(x), type(y))
print (len(x), len(y))

<class 'list'> <class 'str'>
3 8

2. The function type() tells what type x and y are and the function len() tells how many elements they contain

In [11]:
type(1<2)

bool

3. 
2 - integer (nondecibal number)
'2'- string (in between quotation marks)
2.0 - float (decibal number)
"2.0"- string (in between quotation marks)
2>1 - boolean (comparison - larger than)
'Itemar' > Chase - boolean (comparison - larger than)
[1,2] - list (brackets)
(1,1) - tuple (parentheses)
{1:'one', 2:'two'} - dictionary (use of {} brackets and matching a key to a value)

4. true, true, false, true, true, true, false, true, true

In [12]:
print (2**3>3**2)

False

5. The comment will not run because it is missing a collon after the is statement.

6. The code starts off in a true state, therefore it will run as if the condition were true.

In [15]:
if True:
    print ("on the one hand")
else: 
    print ("on the other hand")

on the one hand

In [16]:
if False:
    print ("on the one hand")
else: 
    print ("on the other hand")

on the other hand

In [17]:
if not True:
    print ("on the one hand")
else: 
    print ("on the other hand")

on the other hand

7. The code runs "Chase" since the condition is true.

8.

In [18]:
x = [1,2,3,4]
y = ['x','y','z']

if len(x)>len(y):
    print ('x has more')
    
else: 
    print ('y has at least as many')

x has more

9. The slice function slices a given sequence represented by the indices specified by range(start,stop,step).

In [33]:
#10.

x = [1,2,3,4,5]
print(x[0])
print(x[-1])
print(x[:-1])

1
5
[1, 2, 3, 4]

In [43]:
#11.

sentence = "This is a sentence; please slice it."
print(sentence[0:6])
print(sentence[5:7])
print(sentence[8])
print(sentence[10:18])
print(sentence[20:26])
print(sentence[27:32])
print(sentence[33:35])

This i
is
a
sentence
please
slice
it

In [47]:
#12.

x = [1,2,"a",'b',"fast",'slow',3,'Raghu','Liuren',10]
#a
print(x[1:])
print(x[:-1])

#b
print(x[:3] + x[7:])

[2, 'a', 'b', 'fast', 'slow', 3, 'Raghu', 'Liuren', 10]
[1, 2, 'a', 'b', 'fast', 'slow', 3, 'Raghu', 'Liuren']
[1, 2, 'a', 'Raghu', 'Liuren', 10]

In [51]:
#13

x = [1,2,"a",'b',"fast",'slow',3,'Raghu','Liuren',10]
for i in x:
    print(i)

1
2
a
b
fast
slow
3
Raghu
Liuren
10

In [50]:
#14

x = [1,2,"a",'b',"fast",'slow',3,'Raghu','Liuren',10]
for i in x:
    if type(i)==str:
        print(i)

a
b
fast
slow
Raghu
Liuren

In [54]:
#15
range?

In [55]:
list (range(3,12,2))

[3, 5, 7, 9, 11]

range(3,12,2) gives you the sequence of every second number from 3 to 12.
piecing out the code:
first number = start = 3
second number = finsih = 12
third number = seperation amount = 2

In [57]:
#16

x = list(range(0,30,3))
y = 0
for i in x:
    y = y+i
    
print(y)

135

In [63]:
#17

def pocket_change(pennies,nickles,dimes,quarters):
    x = pennies + 5 * nickles + 10 * dimes + 25 * quarters
    print("$",x)
        
pocket_change(1,2,3,4)

$ 141

In [83]:
#18

def notsix(l):
    xx = []
    for i in l:
        i = str(i)
        if i[0] != '6':
            i = int(i)
            xx.append(i)
    print(xx)
        
notsix([1234, 6783, 6, 4321, 9786])

[1234, 4321, 9786]

In [89]:
#19

old_list = [1234, 6783, 6, 4321, 9786]
new_list = [x for x in old_list if str(x)[0] !='6']

new_list

[1234, 4321, 9786]

The code executes the same outcome as the notsix(l) function. It goes through every item in the list and appends it if the first character in the string of the item is not 6.

20.

a. z is a dictionary that is storing 3 items, that is 3 key/value pairings. 
b. The integers (1,2,3) are the keys and the strings are the values (one, two, three).
c. You would index the key [2] to the dictionary z --> z[2]
d. z.keys outputs the z dictionary keys. z.values outputs of the z dictionary values.
e. outputs a list of z's keys.
f. outputs a list of z's values.
d. outputs a list of z's keys.

In [106]:
z = {1:'one', 2:'two', 3:'three'}
z[2]
z.keys?
z.values?
print(z.keys())
print(z.values())
print(list(z.keys()))
print(list(z.values()))
print(list(z))

dict_keys([1, 2, 3])
dict_values(['one', 'two', 'three'])
[1, 2, 3]
['one', 'two', 'three']
[1, 2, 3]